.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins

# manually added
ios/Runner/GoogleService-Info.plist
ios/Runner/Info.plist
android/app/google-services.json



ios/Runner/Info.plist
ios/Runner/GoogleService-Info.plist
android/app/google-services.json
